<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- local stylesheet and js-->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <script src="./js/main.js"></script>
</head>
<body cz-shortcut-listen="true">
<!-- header bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="main-logo" href="./home.html">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./profile.html" class="profile-link">Username</a></li>
                <li><a href="#" class="logout-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar" id="main-sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="./home.html"><i class="home-link"></i>Home</a>
                </li>
                <li>
                    <a href="./profile.html"><i class="profile-link"></i>Profile</a>
                </li>
                <li class="active">
                    <a href="./admin.html"><i class="admin-link"></i>Admin</a>
                </li>
                <li>
                    <a href="./forms.html"><i class="forms-link"></i>Forms</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
            <!-- All main content goes here -->
            <h1 class="page-header">Admin</h1>

            <h3>Users</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Username</span></th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Password</span></th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Role</span></th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Action</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="input-row">
                            <td><input class="form-control" type="text" placeholder="username"></td>
                            <td><input class="form-control" type="text" placeholder="password"></td>
                            <td><input class="form-control" type="text" placeholder="role1, role2"></td>
                            <td class="actions container col-sm-3 col-md-3">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"/></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok"/></button>
                            </td>
                        </tr>
                        <tr>
                            <td>alice</td>
                            <td></td>
                            <td><span class="role">student</span></td>
                            <td class="actions container col-sm-3 col-md-3">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                            </td>
                        </tr>
                        <tr>
                            <td>bob</td>
                            <td></td>
                            <td><span class="role">faculty</span> | <span class="role">admin</span></td>
                            <td class="actions container col-sm-3 col-md-3">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                            </td>
                        </tr>
                        <tr>
                            <td>charlie</td>
                            <td></td>
                            <td></td>
                            <td class="actions container col-sm-3 col-md-3">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>


</body>
</html>