<div class="row navbar sidebar" id="side-bar" ng-controller="SidebarController">
    <div class="col-sm-3 col-md-3 sidebar" id="main-sidebar">
        <div id="logo">
							<!-- <span class="image profile"><img src="{{me.getRandomImg()}}" alt=""></span> -->
							<h1 id="title">{{me.name}}</h1>
							<span class="byline">{{me.slogan}}</span>
				</div>
        <ul class="nav nav-sidebar" id="nav">
            <li><div> </div></li>
            <li ng-repeat="item in barItems"
				        ng-class="{'active': $location.url() == '#' + item.ref}">
        				<a href="" ng-click="smoothScroll(item.ref)" class="side-item">
        					<span class="fa {{'fa-' + item.icon}}">
                    <span class="text">{{item.title}}</span>
                  </span>
        				</a>
            </li>
        </ul>
        <div class="bottom">
					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="{{me.linkedin}}" class="fa fa-linkedin solo">
                <span class="text">LinkedIn</span></a>
              </li>
							<li><a href="{{me.github}}" class="fa fa-github solo">
                <span class="text">Github</span></a>
              </li>
							<li><a href="{{me.resume}}" class="fa fa-file-text-o solo">
                <span class="text">Resume</span></a>
              </li>
						</ul>
				</div>
    </div>
</div>
