<div class="row navbar" id="side-bar" ng-controller="SidebarController">
    <div class="col-sm-3 col-md-3 sidebar" id="main-sidebar">
        <ul class="nav nav-sidebar">
            <li><div> </div></li>
            <li ng-repeat="item in barItems"
				        ng-class="{'active': $location.url() == item.ref}">
        				<a href="" ng-click="gotoAnchor(item.ref)" class="side-item">
        					<span class="fa {{'fa-' + item.icon}}"></span>
                  <span> </span>
                  <span class="text">{{item.title}}</span>
        				</a>
            </li>
        </ul>
    </div>
</div>
