<div class="row">
    <div class="col-sm-3 col-md-3 sidebar" id="main-sidebar">
        <ul class="nav nav-sidebar">
            <li class="active">
                <a href="./home.html"><i class="home-link"></i>Home</a>
            </li>
            <li>
                <a href="./profile.html"><i class="profile-link"></i>Profile</a>
            </li>
            <li>
                <a href="./admin.html"><i class="admin-link"></i>Admin</a>
            </li>
            <li>
                <a href="./forms.html"><i class="forms-link"></i>Forms</a>
            </li>
        </ul>
    </div>
</div>