/*
 * Links
 */
.navbar-fixed-top .container-fluid a.l-disable {
    color: #ffffff;
    cursor: default;
}

/*
 * Glyphicons
 */
tr .glyphicon {
    cursor: pointer;
}

/*
 *
 */
.ffields-form input,
.ffields-form select {
    width: 33%;
}