<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
  <h1 class="header">Forms</h1>
  <ul class="nav nav-tabs">
      <li><a href="#/forms">Forms</a></li>
      <li class="active"><a href="#">Fields</a></li>
  </ul>
  <form class="form-horizontal">
    <div class="form-group" ng-repeat="field in fields">
      <label for={{field._id}} class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-6" id={{field._id}} ng-switch="field.type">
        <input ng-switch-when="TEXT" type="text" class="form-control" placeholder={{field.placeholder}}>
        <input ng-switch-when="EMAIL" type="email" class="form-control" placeholder={{field.placeholder}}>
        <input ng-switch-when="TEXTAREA" type="textarea" class="form-control" placeholder={{field.placeholder}}>

        <input ng-switch-when="DATE" type="date" class="form-control">

        <select ng-switch-when="DROPDOWN" class="form-control">
          <option ng-repeat="opt in field.options" value={{opt.value}}>{{opt.label}}</option>
        </select>
        <select ng-switch-when="OPTIONS" class="form-control">
          <option ng-repeat="opt in field.options" value={{opt.value}}>{{opt.label}}</option>
        </select>

        <div ng-switch-when="CHECKBOXES">
          <div ng-repeat="opt in field.options">
            <input type="checkbox" id={{opt.value}} value={{opt.value}}>
            <label for={{opt.value}} class="control-label">{{opt.label}}</label>
          </div>
        </div>

        <div ng-switch-when="RADIOS">
          <div ng-repeat="opt in field.options">
            <input type="checkbox" id={{opt.value}} value={{opt.value}} name={{field._id}}-radio>
            <label for={{opt.value}}>{{opt.label}}</label>
          </div>
        </div>
      </div>
      <div class="col-sm-4 icon-div-4">
        <button class="btn btn-default" type="button" data-target="#editModal-{{field._id}}" data-toggle="modal">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-default" type="button" ng-click="deleteField(field._id)"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="editModal-{{field._id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modalLabel">Edit field</h4>
            </div>
            <div class="modal-body">
              <div class="labelEdit">
                <label for="labelText">Label</label>
                <input type="text" id="labelText" ng-model="field.label">
              </div>
              <div class="detailsEdit">
                <div ngIf="isTextField(field.type)" class="singleText">
                  <label for="placeholderText">Placeholder</label>
                  <input type="text" id="placeholderText" ng-model="field.placeholder">
                </div>
                <div ngIf="isOptionField(field)" class="optionsEdit">
                  <label for="optionsText">Options</label>
                  <textarea id="optionsText" ng-model="optionsMap[field._id]"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateField(field)">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group add-new-field-div">
      <label for="add-new-field" class="col-sm-2 control-label">Add New Field:</label>
      <div class="col-sm-6">
        <select class="form-control" id="add-new-field" ng-model="newFieldType">
          <option class="active">Choose Field Type</option>
          <option value="TEXT">Single Line Text</option>
          <option value="DATE">Date</option>
          <option value="DROPDOWN">Dropdown</option>
          <option value="CHECKBOXES">Checkboxes</option>
          <option value="RADIOS">Radio Buttons</option>
          <option value="TEXTAREA">Paragraph Text Field</option>
        </select>
      </div>
      <div class="col-sm-4 icon-div-4">
        <span class="glyphicon left-spacer"></span>
        <button type="button" class="btn btn-primary" ng-click="addField(newFieldType)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </form>
</div>
