<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
    <!-- All main content goes here -->
    <h1 class="page-header">Forms</h1>
    <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
    <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>

    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Forms</a></li>
    </ul>
    <!-- Form Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Form Name</span></th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Action</span></th>
            </tr>
            </thead>
            <tbody>
            <tr class="input-row">
                <td><input class="form-control" type="text" placeholder="name" ng-model="form.title"></td>
                <td class="actions">
                    <button class="btn btn-default" type="button" ng-click="addForm(form); form = null"><span class="glyphicon glyphicon-plus"/></button>
                    <button class="btn btn-default" type="button" ng-click="updateForm(form)"><span class="glyphicon glyphicon-ok"/></button>
                </td>
            </tr>
            <tr ng-repeat="f in forms">
                <td href="/forms/{{f._id}}/fields">{{f.title}}</td>
                <td class="actions">
                    <button class="btn btn-default" type="button" ng-click="deleteForm($index)"><span class="glyphicon glyphicon-remove"/></button>
                    <button class="btn btn-default" type="button" ng-click="selectForm($index)"><span class="glyphicon glyphicon-pencil"/></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
