<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="container-fluid">
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
    <div class="debates-wrapper">
        <div class="debate-wrapper" ng-init="ldebate = selectedDebate">
            <div class="debate-text-wrapper">
                <div class="ng-binding">Web Dev is the best class!</div>
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span>
                <span class="debate-merrit">{{sumMerrit(ldebate)}}</span>
            </div>
            <div class="row" ng-init="pros = getPros(ldebate); cons = getCons(ldebate)"
             ng-repeat="i in range(Math.max(pros.length, cons.length))">
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-init="pro = pros[i]">
                    <div class="alert alert-info pro" ng-style="{'visibility': pro ? 'visible':'hidden'}">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{pro.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{sumMerrit(pro)}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            <span class="merrit">{{sumMerrit(pro.source)}}</span>
                            <span class="d-link"><a href="http://{{pro.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-init="con = cons[i]" ng-show="con">
                    <div class="alert alert-danger con" ng-style="{'visibility': con ? 'visible':'hidden'}">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{con.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{sumMerrit(con)}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                           <span class=" merrit">{{sumMerrit(con.source)}}</span>
                            <span class="d-link"><a href="http://{{con.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc-inputs row ">
                <div class="pro-input col-xs-sm-6 col-sm-6 col-md-6">
                    <input type="text" class="form-control" placeholder="Pro Idea" ng-model="pro.text">
                    <input type="text" class="form-control" placeholder="Source" ng-model="pro.source.link">
                    <button type="submit" class="btn btn-default btn-block done" ng-click="addPro(ldebate, pro)">Done</button>
                </div>
                <div class="con-input col-xs-sm-6 col-sm-6 col-md-6">
                    <input type="text" class="form-control" placeholder="Con Idea" ng-model="con.text">
                    <input type="text" class="form-control" placeholder="Source" ng-model="con.source.link">
                    <button type="submit" class="btn btn-default btn-block done" ng-click="addCon(ldebate, pro)">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
