<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="container-fluid">
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
    <div class="new-debate-item">
        <textarea class="new-debate-input col-md-12" rows="3" placeholder="What's grinding your gears?" ng-model="in_debate.text">
        </textarea>
        <div class="form-group btn-new-debate">
            <button type="submit" class="btn btn-default btn-block" ng-click="addDebate(in_debate)">Create Debate</button>
        </div>
    </div>
    <div class="debates-wrapper">
        <div class="debate-wrapper" ng-repeat="ldebate in debates|limitTo:Math.min(10, debates.length)">
            <div class="debate-text-wrapper">
                <div class="ng-binding">{{ldebate.text}}
                  <span class="glyphicon glyphicon-fullscreen pull-right" ng-click="selectDebate(ldebate)"></span>
                </div>
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span>
                <span class="debate-merrit">{{ldebate.merritSum}}</span>
            </div>
            <div class="row"
             ng-repeat="i in range(Math.min(3, Math.max(ldebate.pros.length, ldebate.cons.length)))">
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-init="pro = ldebate.pros[i]">
                    <div class="alert alert-info pro" ng-style="{'visibility': pro ? 'visible':'hidden'}">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{pro.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{pro.merritSum}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            <span class="merrit">{{pro.source.merritSum}}</span>
                            <span class="d-link"><a href="http://{{pro.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-init="con = ldebate.cons[i]" ng-show="con">
                    <div class="alert alert-danger con" ng-style="{'visibility': con ? 'visible':'hidden'}">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{con.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{con.merritSum}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                           <span class=" merrit">{{con.source.merritSum}}</span>
                            <span class="d-link"><a href="http://{{con.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
