<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="container-fluid">
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
    <div class="debates-wrapper">
        <div class="debate-wrapper" ng-repeat="ldebate in debates|limitTo:1">
            <div class="debate-text-wrapper">
                <div class="ng-binding">Web Dev is the best class!</div>
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span>
                <span class="debate-merrit">{{ldabte.merrit}}</span>
            </div>
            <div class="row"> 
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-repeat="pro in ldebate.pros|limitTo:3" ng-show="pro">
                    <div class="alert alert-info pro">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{pro.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{pro.merrit}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            <span class="merrit">{{pro.source.merrit}}</span>
                            <span class="d-link"><a href="http://{{pro.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
                <div class="actions col-xs-sm-6 col-sm-6 col-md-6" ng-repeat="con in ldebate.cons|limitTo:3" ng-show="con">
                    <div class="alert alert-danger con" ng-show="con">
                        <div class="body-wrapper">
                            <div class="text-wrapper">{{con.text}}</div>
                            <div>
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="merrit">{{con.merrit}}</span>
                            </div>
                        </div>
                        <div class="source-wrapper">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                           <span class=" merrit">{{con.source.merrit}}</span>
                            <span class="d-link"><a href="http://{{con.source.link}}">Source</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
                    