<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
    <!-- All main content goes here -->
    <h1 class="page-header">Admin</h1>

    <h3>Users</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Username</span></th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Password</span></th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Role</span></th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span><span class="col-title"> Action</span></th>
            </tr>
            </thead>
            <tbody>
                <tr class="input-row">
                    <td><input class="form-control" type="text" placeholder="username"></td>
                    <td><input class="form-control" type="text" placeholder="password"></td>
                    <td><input class="form-control" type="text" placeholder="role1, role2"></td>
                    <td class="actions container col-sm-3 col-md-3">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"/></button>
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok"/></button>
                    </td>
                </tr>
                <tr>
                    <td>alice</td>
                    <td></td>
                    <td><span class="role">student</span></td>
                    <td class="actions container col-sm-3 col-md-3">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td></td>
                    <td><span class="role">faculty</span> | <span class="role">admin</span></td>
                    <td class="actions container col-sm-3 col-md-3">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td></td>
                    <td></td>
                    <td class="actions container col-sm-3 col-md-3">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-pencil"/></button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>