<div ng-include="'views/sidebar/sidebar.view.html'"></div>
<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
        <!-- All main content goes here -->
        <h1 class="page-header">Welcome to Devil's Advocate!</h1>
        <p>
        This site allow you to take a stance on any argument whether for or against. You can easily propose topics for debates or join a debate already in the heat of argument. Most importantly, the soul of any good argument is a source to strengthen it. You will be required to add a source whenever making your case. Enjoy and have fun!
        </p>
    </div>
</div>