<div class="row navbar sidebar" id="side-bar" ng-hide="isBarHidden" ng-controller="SidebarController">
    <div class="sidebar" id="main-sidebar">
        <div id="logo">
							<!-- <span class="image profile"><img src="{{me.getRandomImg()}}" alt=""></span> -->
							<h1 id="title">{{me.name}}</h1>
							<span class="byline">{{me.slogan}}</span>
				</div>
        <ul class="nav nav-sidebar" id="nav">
            <li><div> </div></li>
            <li ng-repeat="item in barItems"
				        ng-class="{'active': $location.url() == '#' + item.ref}">
        				<a href="" ng-click="smoothScroll(item.ref)" class="side-item">
        					<span class="fa {{'fa-' + item.icon}}">
                    <span class="te">{{item.title}}</span>
                  </span>
        				</a>
            </li>
        </ul>
        <div class="bottom">
					<!-- Social Icons -->
						<ul class="icons">
							<li ng-repeat="item in footerIcons" class="img-circle">
                <div class="foot-wrapper w-{{item.name.toLowerCase()}}">
                  <a href="{{item.ref}}" class="fa {{item.icon}} solo"><div class="text">{{item.name}}</div></a>  
                </div>
              </li>
						</ul>
				</div>
    </div>
</div>
